/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 

@media all and (min-width:480px) and (max-width:767px) {
  
    .header-search-bar {
      display: none;
    }
    .header-search-btn {
      display: none;
      background-color: white;
      border: none;
    }
    .header-mic-btn {
      display: none;
    }
    .header-mic-img {
      display: none;
    }
    nav {
      display: none;
    }
  }
  
  /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
  
  @media all and (max-width:479px) {
  
    .header-search-bar {
      display: none;
    }
  
    .header-search-btn {
      display: none;
      background-color: white;
      border: none;
    }
  
    .header-mic-btn {
      display: none;
  
    }
  
    .header-mic-img {
      display: none;
  
    }
  
    nav {
      display: none;
    }
  }
  
  
  
  body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    padding: 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  
  
  nav {
    display: flex;
    flex-direction: column;
    width: 72px;
    min-width: 72px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    margin-right: 3%;
  }
  
  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    /*padding-left: 8%;*/
  }
  
  article {
    word-wrap: break-word;
    flex-grow: 1;
    /*height: 330px;*/
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    /*flex-basis: 22%;*/
    width: 314px;
    /*background-color: #f7f7f7;*/
  }
  
  /* --common-- */
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .round {
    border-radius: 100px;
  }
  
  
  /* --custom-- */
  
  .header-menu-img {
    width: 20px;
    cursor: pointer;
  }
  
  .header-logo {
    width: 120px;
    cursor: pointer;
  }
  
  
  #header-menu-div {
    width: 85px;
  }
  
  .header-private-img {
    width: 30px;
    padding: 8px;
    cursor: pointer;
  }
  
  .header-search-div {
    width: 50%;
  }
  
  .header-search-bar {
    width: 80%;
    height: 40px;
    border: solid 1px #d6d6d6;
    padding: 0 6px;
    font-size: 17px;
    color: #d6d6d6;
  }
  
  .header-search-btn {
    border: 1px solid #d6d6d6;
    border-left: none;
    background-color: #f2f2f2;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 42px;
    width: 64px;
    margin: 0;
  }
  
  .header-search-icon {
    width: 25px;
  }
  
  .header-mic-btn {
    border-radius: 50px;
    border: none;
    background-color: #f7f7f7;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .header-mic-img {
    width: 40px;
    height: 40px;
  }
  
  
  .nav-after {
    width: 15%;
  }
  
  .nav-div {
    width: 100%;
    height: 74px;
    flex-direction: column;
    cursor: pointer;
  }
  /*.nav-div:hover {*/
  /*  background-color: #e8e8e8;*/
  /*}*/
  
  .nav-div-lg {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 10px 0 10px 10px;
  }
  
  
  /*.nav-div-lg:hover {*/
  /*  background-color: #e8e8e8;*/
  /*}*/
  
  .nav-p {
    font-size: 12px;
    margin: 0 10px;
  }
  
  
  .nav-img {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
  }
  
  .main-div {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    margin-left: 100px;
    /*padding-top: 100px*/
  
  }
  
  .main-after {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 10%;
  }
  
  .article-after {
    width: 290px;
  }
  
  .article-thumbnail {
    width: 100%;
  }
  
  .article-profile-div {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    margin-right: 12px;
  }
  
  .article-explain-div {
    margin: 10px;
    display: flex;
    width: 100%;
  }
  
  .article-video-title {
    margin: 0 0 12px 0;
  }
  
  .article-video-channel {
    margin: 2px;
    font-size: 13px;
  }
  